.navbar ul {
	display: flex;
	font-size: 20px;
	justify-content: space-evenly;
	list-style-type: none;
}

.navbar a {
	color: var(--black);
	text-decoration: none;
}

.link:hover, .click {
	border-bottom: 3px solid var(--scroll-blue);
	border-bottom-left-radius: 3px;
}